{% extends "app/base.html" %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>REGISTER</h3>
    {% for race in myRace %}
      <input type="text" disabled="True" name="event" id="event" class="form-control mb-1" value="{{ race.name }}"/>
    {% endfor %}
    <div class="mb-1">
      <select class="form-select" id="category" name="category" required>
        <option selected value="0">Choose Category</option>
        <option value="51">Amateur</option>
        <option value="52">Beginner</option>
        <option value="53">Elite</option>
      </select>
      {% comment %} <label class="form-label" for="gender">Category</label> {% endcomment %}
    </div>
    <input type="text" required name="fName" id="fName" class="form-control mb-1" placeholder="First Name"/>
    <input type="text" required name="lName" id="lName" class="form-control mb-1" placeholder="Last Name"/>
    <div class="form-floating mb-1">
      <input type="date" required name="usrdob" id="usrdob" class="form-floating form-control" />
      <label class="form-label" required for="usrdob">Date Of Birth</label>
    </div>
    <div class="mb-1">
      <select class="form-select" id="gender" name="gender">
        <option selected>Select Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      {% comment %} <label class="form-label" for="gender">Gender</label> {% endcomment %}
    </div>
    <input type="email" required name="email" id="email" class="form-control mb-1" placeholder="E-mail"/>
    <input type="text" required name="mob" id="mob" class="form-control mb-1" placeholder="Mobile"/>
    <input type="text" required name="t_id" id="t_id" class="form-control mb-1" placeholder="Enter Transaction ID"/>
    <div>
      <input type="checkbox" required name="chk_disclaimer" id="chk_disclaimer">
      Under-18 athletes must be accompined by parent/guardien.
      <br><input type="checkbox" required name="chk_disclaimer" id="chk_payment">
      I need Support, keep me annonymos
      <br><input type="checkbox" required name="chk_support" id="chk_support">
      I want to support (Partially/Full)
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</form>
{% endblock  %}