{% extends "app/base.html" %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>LOGIN</h3>
    <!-- Email input -->
    <div class="form-floating mb-3">
      <input type="text" name="usr" id="usr" class="form-control" />
      <label class="form-label" for="usr">Enter valid email to recieve OTP</label>
    </div>

    <!-- Password input -->
    {% comment %} <div class="form-floating mb-3">
      <input type="password" name="pwd" id="pwd" class="form-control" />
      <label class="form-label" for="pwd">Password</label>
    </div> {% endcomment %}
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-3">Proceed</button>
    </div>

    {% comment %} <div class="d-flex justify-content-center">
      <!-- Simple link -->
      <a href="{% url "resetpwd" %}">Forgot password?</a>
    </div> {% endcomment %}
  </div>
  <div class="col-md-4"></div>
</div>
</form>
{% endblock  %}